security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="5nppgs4RM0HtgEUP6Kf8sL" password="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2F1dGguY29uZHVrdG9yLmlvIiwic291cmNlQXBwbGljYXRpb24iOiJhZG1pbiIsInVzZXJNYWlsIjpudWxsLCJwYXlsb2FkIjp7InZhbGlkRm9yVXNlcm5hbWUiOiI1bnBwZ3M0Uk0wSHRnRVVQNktmOHNMIiwib3JnYW5pemF0aW9uSWQiOjcyMDQyLCJ1c2VySWQiOjgzNjEyLCJmb3JFeHBpcmF0aW9uQ2hlY2siOiJmZjc3NTY2NS1jYTg1LTQ3MGMtYjVmZC0xNDE1YzM2OGJiMDQifX0.nKuprPYJnLXflEx8mojm0fjOIi8tP9cmXbGjH5gLSJ8";
sasl.mechanism=PLAIN